<ion-header>
  <ion-toolbar>
    <ion-title>
      Distance Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  
    

    <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
          
            <ion-input type="text" [(ngModel)]="location" placeholder="Enter Input"></ion-input>
        
        <ion-button fill="outline" slot="end" id="printToConsole" (click)="changeDistance(location)" >find</ion-button>
      </ion-item>
    
      <ion-card-content>
        Search anything to find how much distanced it is from you. 
      </ion-card-content>
    </ion-card>
    
    
    <ion-card id="result" [hidden]=true>
      <ion-item>
        <ion-icon name="walk" slot="start"></ion-icon>
        <ion-label id="result-label">Distance will be shown here</ion-label>
      </ion-item>
    </ion-card>



  </div>
</ion-content>
